body{
    text-align: center;
    border-bottom-color: gray;
    
    
}

h1 {
    background-color: gray;
    margin: auto;
    /*margin-left: 25%;*/
    /*margin-right: 25%;*/
    width: 700px;
    color: white;
}

footer{
    position: fixed;
    Width: 100%;
    bottom: 0;
    
    background-color: gray;
    color: white;
    
    
}