table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h1 {
    text-align: center;
}
h5{
    text-align: right;
}
fieldset {
    text-align: center;
}
body{
    width: 75%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
footer {
    clear: left;
    color: black;
    background-color:grey;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    overflow:hidden;
    text-align: center;
}